<ion-header-bar>
  <h1 class="title">Sign In</h1>
</ion-header-bar>
<ion-content ng-controller="UserCtrl">
  <form ng-submit="login()">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="loginData.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="loginData.password">
      </label>
      <label class="item">
        <button class="button button-block button-positive">Login with Username / Email
        </button>
      </label>
    </div>
  </form>
</ion-content>