<ion-content id="login" ng-controller="UserCtrl">
  <div class="row row-center">
  <!-- <div class="row row-center login"> -->
    <div class="col">
      <h1>Sign in</h1>
      <form ng-submit="login()">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Email" ng-model="loginData.email">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Password" ng-model="loginData.password">
          </label>
          <label class="item login-button">
            <button class="button">Login with Username / Email
            </button>
          </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>