<ion-header-bar class="bar-stable">
  <h1 class="title">Your Personal Investments</h1>
</ion-header-bar>
<ion-content ng-controller="DashboardCtrl">
  <div class="card" ng-click="overview()">
    <div class="list list-inset">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-25 text-center">Ticker</div>
          <div class="col col-25 text-center">Price</div>
          <div class="col col-25 text-center">Shares</div>
          <div class="col col-25 text-center">Value</div>
        </div>
      </div>
      <label class="item" ng-repeat="item in sData">
        <div class="row">
          <div class="col col-25 text-center">{{item.ticker}}</div>
          <div class="col col-25 text-center">{{item.price}}</div>
          <div class="col col-25 text-center">{{item.shares}}</div>
          <div class="col col-25 text-right">{{item.value}}</div>
        </div>
      </label>
    </div>
  </div>
</ion-content>