<ion-header-bar class="bar-cactus">
  <div class="buttons">
    <a href="#/"><button class="button button-clear"><i class="icon ion-home white-icon"></i></button></a>
  </div>
  <h1 class="title">Securities</h1>
  <div class="buttons">
    <button class="button button-clear" ng-click="logout()"><i class="icon ion-log-out white-icon"></i></button>
  </div>
</ion-header-bar>
<ion-content has-bouncing="false" ng-controller="TableCtrl">
  <div class="list">
    <a href="#/table/{{item.id}}" class="item" ng-repeat="item in sData">
      <div class="row row-center">
        <div class="col col-75 ticker-container">
          <p class="ticker">{{item.ticker}}<span class="share-subtext">{{item.shares}} shares</span></p>
        </div>
        <div class="col col-25 text-center price-box">
          <p>${{item.price}}</p>
        </div>
      </div>
    </a>
  </div>
</ion-content>